<div class="impText">
  <br>
  <p><b>Was ist WpWiki?</b></p>
  <!-- <br> -->
  <p>WpWiki.de ist eine Initiative der vv.de Finanzdatensysteme GmbH zur Sammlung, Konsolidierung und Bereitstellung freier
    Wertpapierinformationen. Nach dem Vorbild der Wiki-Idee sollen alle Leistungen von WpWiki kostenlos und für jedermann
    zugänglich sein. Außerdem kann jeder Nutzer von WpWiki eigene Inhalte beitragen und Daten bearbeiten.</p>
  <!-- <br> -->
  <p>WpWiki arbeitet zudem als spezialisierte Suchmaschine. Wie andere Suchmaschinen auch nutzt WpWiki einen Suchdienst (WpWiki-Bot),
    der laufend nach neuen Informationen über Wertpapiere sucht und diese für die eigene Webseite indiziert. Derartig gefunden
    Informationen werden als Zitat angezeigt und mit Quellangabe auf die Ursprungsseite verlinkt. WpWiki beachtet dabei die
    Vorgaben der Ursprungsseiten, die in der robots.txt Datei standardisiert festgelegt werden.</p>
   <br> 
  <p><b>Warum WpWiki?</b></p>
  <!-- <br> -->
  <p>Umfassende Wertpapierdaten sind heute schwer zu finden. Einige Quellen bieten nur ein kleines Universum von Papieren (etwa
    Emittenten nur ihre eigenen Papiere). Andere Quellen bieten nur wenige Kennzahlen (etwa die öffentlich nutzbaren Börseninformationsportale).
    Und wieder andere Quellen erfordern Lizenzzahlungen und vertragliche Vereinbarungen, die juristisch aufwendig einzurichten
    sind und eine freie Nutzung oder Weitergabe unmöglich machen. In vielen Projekten, die wir in der Vergangenheit begleitet
    haben, war der Aufwand zur Vertragsgestaltung und Lizenzklärung der schwierigste und langwierigste Teil im Projekt. </p>
  <!-- <br> -->
  <p>Unterstützt durch die Europäische Gesetzgebung, werden viele Stammdaten künftig freier handhabbar sein. Neue Veröffentlichungspflichten
    vereinfachen die freie Weitergabe. Außerdem findet WpWiki neue Freunde und Unterstützer, die sich an der Idee beteiligen
    wollen und Daten frei zur Verfügung stellen.</p>
  <!-- <br> -->
  <p>Ziel ist die umfassendste freie Datenbank von ISIN-basierten Wertpapieren im Netz. Kostenlos, mit der Möglichkeit zur freien
    Weitergabe der Daten, mit der Möglichkeit zur Mitarbeit und zu Datenuploads. Einfach, schnell und direkt, für jedermann.</p>
   <br> 
  <p><b>Warum macht die vv.de GmbH das?</b></p>
  <!-- <br> -->
  <p>Die vv.de Finanzdatensysteme GmbH hat keinen direkten Vorteil aus der Realisierung und Bereitstellung von WpWiki. Es gibt
    zwei Motivationen für uns, dieses Engagement zu betreiben. Zum einen sind wir auch nur Menschen, und es nervt ungemein,
    wenn aufgrund von Lizenzregelungen und urheberrechtliche Einschränkungen gute Ideen sterben oder unverhältnismäßig hoher
    Aufwand entsteht. Um es klar zu stellen: Wir respektieren Urheberrecht und Lizenzen und halten sie in vielen Fällen auch
    für sinnvoll und angemessen. Aber alleine die nötige Prüfung durch juristische Abteilungen der Institute fordert oft
    so viel Aufwand und erzeugt so viel Angst vor rechtlichen Risiken, dass gute Ideen gleich ganz abgeblasen werden.</p>
  <!-- <br> -->
  <p>Zum anderen erhoffen wir uns durch die Arbeit an den Wertpapierdaten eine größere Expertise im eigenen Haus, die wir in
    Projekten bei unseren Kunden sinnvoll einsetzen können. Wer mit Wertpapierstammdaten zu tun hat, findet bei uns erfahrene
    Ansprechpartner. Denn wir haben WpWiki entwickelt.</p>
   <br> 
  <p><b>Was kann ich als User tun?</b></p>
  <!-- <br> -->
  <p>Nutzen Sie WpWiki, korrigieren Sie Einträge oder laden Sie ihre eigenen Wertpapierlisten hoch. Diese Daten müssen frei
    von Rechten Dritter sein.</p>
  <!-- <br> -->
  <p>Sofern Sie regelmäßig Daten an WpWiki geben möchten, können wir Ihre Quelle (Webseite, SFTP-Server, o.ä.) abfragen und
    die Daten regelmäßig selbständig laden. Über derartige Angebote freuen wir uns. Institute können WpWiki nutzen, um Angaben
    zu ihren Finanzinstrumenten zu veröffentlichen, wie etwa Zielmarkt oder Risikoeinstufung. Auch diese Leistungen sind
    kostenlos, wenn sie der WpWiki-Idee zugute kommen.</p>
   <br> 
  <p><b>WpWiki unterstützen</b></p>
  <!-- <br> -->
  <p>Es gibt viele Möglichkeiten, wie Sie WpWiki unterstützen können:</p>
  <!-- <br> -->
  <ul>
    <li>Lassen Sie sich auf der WpWiki-Seite öffentlich als Unterstützer eintragen (WpWiki-Freunde). Es hilft insbesondere in
      Diskussionen mit Vertretern der Datenverkäufer, wenn WpWiki viele Freunde hat.</li>
    <li>Pflegen sie Daten, laden Sie Tabellen mit Daten hoch oder teilen Sie uns eine Quelle mit, von der wir Daten laden können.</li>
    <li>Engagieren Sie sich als Helfer oder erlauben Sie einem ihrer Mitarbeiter, bei WpWiki zu helfen. Wer begrüßen Helfer
      in der Datenpflege, -analyse oder Systementwicklung, auch in unserem Büro vor Ort (Rödermark). Es gibt kleine Aufgaben
      (etwa Recherche nach Emittentendaten) und große Projekte (etwa in der Softwareentwicklung). Wer mitmacht, lernt jede
      Menge über Wertpapiere.</li>
    <li>Geben Sie bezahlte Aufträge für Wertpapierprojekte, in denen wir von den Erfahrungen aus WpWiki profitieren.</li>
    <li>Spenden Sie, um den Betrieb und die Infrastruktur von WpWiki zu unterstützen. Das muss nicht immer Geld sein, auch Server, Software, Hosting-Leistungen o.ä. bringen WpWiki weiter.</li>
    <li>Empfehlen Sie WpWiki weiter.</li>
  </ul>
  <p>Sie erreichen uns unter <a href="mailto:kontakt@wpwiki.de">kontakt@wpwiki.de</a></p>
</div>
