<div class="impText">
  <br>
    <p>WpWIKI.de eine Initiative der vv.de Finanzdatensysteme GmbH zur kostenfreien Bereitstellung der MIFID II relevanten Wertpapierinformationen
    zum Vertrieb und dem Einsatz von Finanzinstrumenten.</p>
  <br>
  <ul>
    - Vollständiges Verzeichnis aller ESMA regulierten Finanzinstrumente
  </ul>
  <ul>
    - offenes Portal zur Publikation von Wertpapier- und Vertriebsinformationen
  </ul>
  <ul>
    - kostenloser Abruf für Vertriebspartner und Finanzdienstleister
  </ul>
  <br>
  <p>Werden Sie Freund oder Fördererer der Initiative WpWiki und nehmen Sie Kontakt mit uns auf.</p>
  <br>
  <p>2017 vv.de Finanzdatensysteme GmbH<br>
  Kay-Ole Behrmann<br>
  Thomas Gotta<br>
  Tel. 02133 - 9739198<br>
  <p>kontakt@vv.de</p>
<br>
</div>
