<div class="container" *ngIf="valid">
  <div *ngFor="let key of keyOrder">
    <div class="row" *ngFor="let inf of dataContainer[key].info; let i = index">
      <div class="col-lg-3 col-12"><b class="pull-left" align="left" *ngIf="i==0">{{key}}:</b></div>
      <div class="col-lg-9 pull-right">
        <span class="pull-left" *ngIf="inf.lvl2!=''">{{inf.lvl2}}:&nbsp;</span>
        <span class="pull-left" *ngIf="validUrl(inf.val)"><a href='{{inf.val}}'>{{inf.val}}</a></span>
        <span class="pull-left" *ngIf="!validUrl(inf.val)">{{inf.val}}</span>
      </div>
    </div>
    <br>
  </div>
</div>

<div class="container" *ngIf="!valid">
  <p style="color:red;">{{error}}</p>
</div>
