<div>
  <!-- Anmeldung -->
  <div>
    <h2>Anmeldung</h2>
    <form role="form">
      <div class="form-content">

        <div class="form-group row" align="center">
          <label style="float:left;" class="col-sm-12 col-md-4" for="lun">Benutzername: </label> <input class="col-sm-12 col-md-6" type="text" id="lun">
        </div>
        <div class="form-group row" align="center">
          <label style="float:left;" class="col-sm-12 col-md-4" for="lpw">Password: </label> <input class="col-sm-12 col-md-6" type="password" id="lpw">
        </div>
        <button class="btn btn-default" type="button">Anmelden</button>
      </div>
    </form>
  </div>
  <hr>
  <!-- Registrierung -->
  <div>
    <h2>Neu hier?
    <br/>Kostenlos regestrieren:</h2>
    <form role="form">
      <div class="form-content">

        <div class="form-group row" align="center">
          <label style="float:left;" class="col-sm-12 col-md-4" for="run">Benutzername: </label> <input class="col-sm-12 col-md-6" type="text" id="run">
        </div>
        <div class="form-group row" align="center">
          <label style="float:left;" class="col-sm-12 col-md-4" for="rem">E-Mail Adresse:</label> <input class="col-sm-12 col-md-6" type="email" id="rem"> </div>
        <div class="form-group row" align="center">
          <label style="float:left;" class="col-sm-12 col-md-4" for="rgp">gewünschtes Password:</label> <input class="col-sm-12 col-md-6" type="password" id="rgp">
        </div>
        <div class="form-group row" align="center">
          <label style="float:left;" class="col-sm-12 col-md-4" for="rpw">Password wiederholen:</label> <input class="col-sm-12 col-md-6" type="password" id="rpw">
        </div>

        <button class="btn btn-default" type="button">Registrieren</button>
      </div>
    </form>
  </div>
</div>
