<nav class="navbar navbar-toggleable-md">
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" routerLink="">Start</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/lesen">Lesen</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/quellen">Quellen</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/bearbeiten">Bearbeiten</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/versionsgeschichte">Versionsgeschichte</a>
    </li>
  </ul>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/anmelden">Anmelden</a>
    </li>
  </ul>
</nav>
