<nav class="navbar navbar-toggleable-md">
  <ul *ngIf="sg['state']!='start'" class="nav navbar-nav mr-auto">
    <li class="{{isA('start')}} nav-item">
        <!-- <app-suche></app-suche>   -->
       <a class="nav-link" routerLink="/">Neue Suche</a> 
    </li>
     <li *ngIf="sg['isin']" class="{{isA('quellen')}} nav-item">
      <a class="nav-link" routerLink="/stammdaten/{{sg['isin']}}">Stammdaten</a>
    </li> 
    <li *ngIf="sg['isin']" class="{{isA('publikationen')}} nav-item">
      <a class="nav-link" routerLink="/publikationen/{{sg['isin']}}">Publikationen</a>
    </li>
  </ul>
</nav>
