<nav class="navbar navbar-toggleable-md">
  <ul class="nav navbar-nav mr-auto">
    <li class="{{isA('start')}} nav-item">
      <a class="nav-link" routerLink="/">Start</a>
    </li>
    <li class="{{isA('lesen')}} nav-item">
      <a class="nav-link" routerLink="/lesen/{{sg['isin']}}">Lesen</a>
    </li>
    <li class="{{isA('quellen')}} nav-item">
      <a class="nav-link" routerLink="/quellen/{{sg['isin']}}">Quellen</a>
    </li>
    <li class="{{isA('bearbeiten')}} nav-item">
      <a class="nav-link" routerLink="/bearbeiten/{{sg['isin']}}">Bearbeiten</a>
    </li>
    <li class="{{isA('versionsgeschichte')}} nav-item">
      <a class="nav-link" routerLink="/versionsgeschichte">Versionsgeschichte</a>
    </li>
    <li class="{{isA('upload')}} nav-item">
      <a class="nav-link" routerLink="/upload">Upload</a>
    </li>
    <li class="{{isA('files')}} nav-item">
      <a class="nav-link" routerLink="/files">Files</a>
    </li>
  </ul>
  <ul class="nav navbar-nav">
    <li class="{{isA('anmelden')}} nav-item">
      <a class="nav-link" routerLink="/anmelden">Anmelden</a>
    </li>
  </ul>
</nav>
