<div class="input-group">
  <input autofocus type="text" list="suggestions" maxlength="12" (keyup)="keyEvent()" class="form-control" placeholder="Isin" [(ngModel)]="val" (keyup.enter)="gotoDetail()">

  <datalist *ngIf="results != null && results.length != 0" id="suggestions">
    <option *ngFor="let res of results">{{res}}</option>
</datalist>
  <span class="input-group-btn">
      <button (click)="gotoDetail()" class="btn btn-default" type="button">Suche</button>
    </span>
</div>
<br>{{loader}}
