
<div class="container">

  <div class="container">
    <div class="starter-template">
      <h1>Wp Wiki <font size="4">(Demo)</font></h1>
      <app-nav></app-nav>
      <app-suche></app-suche>
      <router-outlet></router-outlet>

      <!--
      <h1>WP Wiki</h1>
      <hr><h3>Suche</h3><hr>
      <app-suche></app-suche>
      <hr><h3>Anmelden</h3><hr>
      <app-anmelden></app-anmelden>
      <hr><h3>Lesen</h3><hr>
      <app-lesen></app-lesen>
      <hr><h3>Quellen</h3><hr>
      <app-quellen></app-quellen>
      -->
    </div>
  </div>
</div>
<br>
<app-footer></app-footer>
