<div class="impText">
<br>
<h2>Impressum</h2>
<br>

<p>vv.de Finanzdatensysteme GmbH</p>
Sperlingstrasse 40<br>
41540 Dormagen<br>
<br>
Tel.: +49 (0)2133 – 9739198<br>
Fax.: +49 (0)2133 – 9739199<br>
<br>
Geschäftsführer: Kay Behrmann, Thomas Gotta<br>
kontakt@vv.de<br>
Registergericht: Amtsgericht Neuss<br>
<p>Registernummer: HR 16486<br>
<br>
USt-IdNr.: DE281590139</p>
<br>
<p>Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV: Thomas Gotta (Anschrift wie oben)</p>
<br>
<p>Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
<br>
</div>
