<p *ngIf="!valid" style="color:red;">{{error}}</p>
<div class="container" *ngIf="valid">
  <button (click)="toogleEdit(!editToggle)" class='left' type="button">{{btAnpassenText}}</button> <button *ngIf="editToggle" (click)="saveEdit()" class='left' type="button">Speichern</button><br>
  <hr>
  <table>
    <thead>
      <tr>
        <th width="1%"></th><!-- hacks !!! -->
        <th width="17%">Feld</th>
        <th width="34%">aktueller Inhalt</th>
        <th width="39%" *ngIf="!toggelEditMode('')">Quelleangabe</th>
        <th width="1%"></th><!-- hacks !!! -->
        <th width="8%" *ngIf="!toggelEditMode('')">Quellen</th>
      </tr>
    </thead>
    <tbody *ngFor="let key of keyOrder">
      <ng-container *ngFor="let item of fetchedData[key].entries; let i = index">
        <tr *ngIf="item.quellen!=null||editToggle">
          <!-- Feld  -->
          <td></td>
          <td *ngIf="i==0" class="left"><b>{{key}}</b></td>
          <td *ngIf="i!=0"></td>

          <!-- aktueller Inhalt  -->
          <td class="top">
            <div class="left top">
              <div class="left top" *ngIf="item.lvl2!=null && item.lvl2!=''">{{item.lvl2}}:&nbsp;</div>
              
              <div *ngIf="!toggelEditMode(key)"> <!-- normal View  -->
                <div class="left top" *ngIf="validUrl(item.val)"><a target="_blank" href='{{item.val}}'>{{adjustUrl(item.val, 30)}}</a></div>
                <div class="left top" *ngIf="!validUrl(item.val)">{{item.val}}</div>
              </div>

              <div style="width:100%;box-sizing: border-box;" *ngIf="toggelEditMode(key)"> <!-- edit View   style="width:100%;" -->
                <input type="text"  [(ngModel)]="item.val"/> 
              </div>
              
              
            </div>
            <!-- <span class="left top" *ngIf="item.lvl2!=null && item.lvl2!=''"><u>{{item.lvl2}}:</u>&nbsp;</span>
              <span class="left top" *ngIf="validUrl(item.val)"><a target="_blank" href='{{item.val}}'>{{adjustUrl(item.val, 30)}}</a></span>
              <span class="left top" *ngIf="!validUrl(item.val)">{{item.val}}</span> -->
          </td>

          <!-- Quelleangabe  -->
          <td *ngIf="!toggelEditMode('')">
            <div class="left" *ngIf="validUrl(item.url)">
              <a target="_blank" href='{{item.url}}'>{{adjustUrl(item.url, 48)}}</a><br>
              <span>{{item.src}} (Stand vom: {{cutTimestamp(item.ts)}})</span>
            </div>
            <p class="left" *ngIf="!validUrl(item.url)">{{item.url}} - {{item.src}} (Stand vom: {{cutTimestamp(item.ts)}})</p>
          </td>
          <td></td>
          
          <!-- Quellen  -->
          <td class="top" *ngIf="!toggelEditMode('')">
            <select (change)="selectChangeHandler($event)" style="width:100%">
              <ng-container *ngFor="let qref of item.quellen">
                <option value="{{item.sqn}}_{{qref.integer}}" *ngIf="isSelected(item.srcn, qref.integer)" selected>{{qref.string}}</option>
                <option value="{{item.sqn}}_{{qref.integer}}" *ngIf="!isSelected(item.srcn, qref.integer)">{{qref.string}}</option>
              </ng-container>
              <!-- <option *ngFor="let qref of item.quellen" {{isSelected(item.srcn, qref.integer)}}>{{qref.string}} - {{qref.integer}}</option> -->
            </select>
            <a (click)="setSQN(item.sqn)" href="/stammdaten/{{sg['isin']}}/quellen/{{item.sqn}}">Ansehen...</a
            ></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
