thead{
    border-bottom: 2px solid gray;
}
tbody{
    border-bottom: 1px solid #dddddd;
} 
table > tbody:last-of-type {
    border-bottom:none;
}



.left    { text-align: left; float:left; }
.right   { text-align: right; }
.center  { text-align: center; }
.justify { text-align: justify; }
.start   { text-align: start; }
.end     { text-align: end; }
.top     { vertical-align:top; }

input{
    width: inherit;
}

