<div class="container">
  <div class="row"> <!-- ISIN -->
    <div class="col-lg-3 col-12"><b class="pull-left" align="left">ISIN:</b></div>
    <div class="col-lg-9 pull-right">
      <span class="pull-left">{{sg['isin']}}</span>
    </div>
  </div>
  <br>
  <div class="row"> <!-- Quelle -->
    <div class="col-lg-3 col-12"><b class="pull-left" align="left">Quelle:</b></div>
    <div class="col-lg-9 pull-right">
      <input style="width:100%;" type="text"  [(ngModel)]="dataOrigin"  class="pull-left"/>
    </div>
  </div>
  <br>
  <div class="row"> <!-- Dateityp -->
    <div class="col-lg-3 col-12"><b class="pull-left" align="left">Dateityp:</b></div>
    <div class="col-lg-9 pull-right">
      <input style="width:100%;" type="text"  [(ngModel)]="dataType"  class="pull-left"/>
    </div>
  </div>
  <br>
  <div class="row"> <!-- Kommentar -->
    <div class="col-lg-3 col-12"><b class="pull-left" align="left">Kommentar:</b></div>
    <div class="col-lg-9 pull-right">
      <input style="width:100%;" type="text"  [(ngModel)]="userComment"  class="pull-left"/>
    </div>
  </div>
  <br>
  <button (click)="upload()" class="btn btn-default" type="button">Upload</button>
  <input style="border:1px solid;" #fileInput [(ngModel)]="fileUpload"  (change)="getFiles($event)" type="file" accept=".pdf, .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
</div>
{{reqStat}}
